{%block title%}
{{title}}
{%endblock%}
{% block content %}

     <table>
            <thead>
        	   <tr>
                    <th>Carnet</th>
            		<th>Nombre</th>
                    <th>Apellido</th>
            	    <th>Sexo</th>
            	    <th>Modalidad</th>
                    <th>Fecha de inicio</th>
        		</tr>
            </thead>

            {% if estudiantes %}
            {% for estudiante in estudiantes %}
        		<tr class="etiqueta-tr">
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.carnet_estudiante }}</td>
            		<td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.carnet_estudiante.carnet_estudiante.nombre_estudiante}}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.carnet_estudiante.carnet_estudiante.apellido_estudiante }}</td>
            		<td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.carnet_estudiante.carnet_estudiante.sexo_estudiante }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.modalidad }}</td>
                     <td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.fecha_inicio }}</td>
        		</tr>
            {% endfor %}
            {% endif %}     

    	</table>
    </div>

</div>

    <div id = "popup"> 
  
</div>

{% endblock %}

{% block js %}



{% endblock %}