{%block title%}
<strong> Reporte de Solicitudes de Servicio Social Aprobadas. </strong>
{%endblock%}
{% block content %}

<div class="container">
    <div>

    </br>

        <table>
            <thead>
               <tr>
                    <th>Carnet</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Estado</th>
                    <th>Observaciones</th>
                </tr>
            </thead>

            {% if estado_solicitud_filtro %}
            {% for solapro in estado_solicitud_filtro %}
                <tr class="etiqueta-tr">
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ solapro.carnet_estudiante}}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ solapro.carnet_estudiante.carnet_estudiante.carnet_estudiante.nombre_estudiante}}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ solapro.carnet_estudiante.carnet_estudiante.carnet_estudiante.apellido_estudiante }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ solapro.aceptado }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ solapro.observaciones }}</td>
                </tr>
            {% endfor %}
            {% endif %}     

        </table>
    </div>

{% endblock %}

{% block js %}

{% endblock %}