{% extends 'base/base.html' %}
{%block title%}
Actualizar Base de Datos Gerencial
{%endblock%}
{% block content %}

  <header>
    <div class="container">
        
        </br>
        <h2 align="center" class="form-titulo" style ="margin-left: 5px;">Actualizar Base de Datos Gerencial</h2>
        </br></br></br>
        
    </div>
  </header>

<div class="container">

    </br>

    <h3><strong>PASO 1.</strong></h5>
    <h4>Porfavor presiona el bot&oacute;n <strong><i> Descargar Script </i></strong> </br> para descargar los datos de la </br> Base de Datos Transaccional. </h4>

    </br>

    <a href = "https://www.pythonanywhere.com/user/ProyeccionSocialAgronomiaUES/files/home/ProyeccionSocialAgronomiaUES/SistemaAgronomia/db.sqlite3"><input class = "btn-buscar btn-busqueda"  type="button" href = "https://www.pythonanywhere.com/user/ProyeccionSocialAgronomiaUES/files/home/ProyeccionSocialAgronomiaUES/SistemaAgronomia/db.sqlite3"  value="Descargar Script" ></a>
    
    </br></br></br></br></br>

    <h3><strong>PASO 2.</strong></h5>
    <h4>Una vez descargado el Script busca y selecciona </br> el archivo para subirlo al sistema, para ello da </br> click en el bot&oacute;n <strong><i>Elegir Archivo</i></strong>, y una vez </br> seleccionado presiona el bot&oacute;n <i><strong>Subir</strong></i></h4>
    
    </br>

    <div>
        <form action="{% url 'sistemaGerencialAgro:actualizarBD' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <p>{{ form.non_field_errors }}</p>
            
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}</br>
            </p>
            
            </br>

            <input class="btn-buscar btn-busqueda" type="submit" value="Subir"/>
            <a href = "{% url 'sistemaGerencialAgro:consulta_estudiante_departamento' %}"><input class = "btn-buscar btn-busqueda"  type="button" href = "{% url 'sistemaGerencialAgro:consulta_estudiante_departamento' %}" onclick = "return '{% url 'sistemaGerencialAgro:consulta_estudiante_departamento' %}' )" value="Regresar" style="background-color:red; border-color:red;"></a>
        </form>
        
    </div>

    </br></br></br></br></br>

    <h3><strong>PASO 3.</strong></h5>
    <h4>Una vez subido el archivo descargado al </br> sistema, presiona el bot&oacute;n <strong><i>Actualizar BD</i></strong> </br> para que los nuevos cambios se agreguen </br> a la Base de Datos Gerencial.</h4>

    </br>
    
    <a href = "{% url 'sistemaGerencialAgro:actualizarBD' %}"><input class = "btn-buscar btn-busqueda"  type="button" href = "{% url 'sistemaGerencialAgro:actualizarBD' %}" onclick = "return '{% url 'sistemaGerencialAgro:actualizarBD' %}' )" value="Actualizar BD"></a>
    
    </br></br></br></br>

{% endblock %}