{% extends 'base/base.html' %}
{%block title%}
Estudiantes en Servicio Social por Departamento
{%endblock%}
{% block content %}

  <header>
    <div class="container">
        
        </br>
        <h2 align="center" class="form-titulo" style ="margin-left: 5px;"> Proyectos de Estudiantes en Servicio Social por Departamento</h2>
        </br></br></br>
        
    </div>
  </header>

<div class="container">

    <!-- Boton Buscar Fech-->
    <div align="center" class="busqueda">
        <form method="POST" action="{% url 'sistemaGerencialAgro:filtrar_estudiante_departamento' %}">
            {% csrf_token %} 
            
            <select name="departamento" class="form-control col-4 col-sm-3 input-style" title="Selecciona el Departamento Por Favor" required>
                <option selected value=""> Selecciona el Departamento </option>
                    {% if departamentos %}
                        {% for dep in departamentos %}
                            <option value="{{ dep.codigoDepartamento }}">{{ dep.nombreDepartamento }}</option>
                        {% endfor %}
                    {% endif %}
                </option> 
            </select>
            </br></br>
            
            <input class="btn-buscar btn-busqueda" type = "submit" value = "Buscar" id = "fechaBuscar"></br></br>
        </form>
    </div>

    {% if depto %}
        <div align="center" class="busqueda">
            <input class="btn-buscar btn-busqueda" type = "submit" value = "Imprimir PDF" id = "ImprimirPDF" onclick="window.location.href='{% url 'sistemaGerencialAgro:reporte_estudiante_departamento' depto %}'">
            <input class="btn-buscar btn-busqueda" type = "submit" value = "Exportar CSV" id = "ExportarCSV" onclick="window.location.href='{% url 'sistemaGerencialAgro:exportar_estudiante_departamento' depto %}'">
        </div>
    {% endif %}
    
    </br></br>

    <div>
        <table>
            <thead>
        	   <tr>
                    <th>Departamento</th>
                    <th>Proyecto</th>
            	    <th>Carnet</th>
            	    <th>Nombre</th>
            	    <th>Apellido</th>
            		<th>Carrera</th>
        		</tr>
            </thead>

            {% if proyectos_departamento_filtro %}

                {% for proydep in proyectos_departamento_filtro %}
                    <tr class="etiqueta-tr">
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ proydep.carnet_estudiante.carnet_estudiante.codigo_carrera.departamento.nombreDepartamento }}</td>
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ proydep.codigo_proyecto.descripcion_proyecto }}</td>
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ proydep.carnet_estudiante.carnet_estudiante.carnet_estudiante }}</td>
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ proydep.carnet_estudiante.carnet_estudiante.carnet_estudiante.nombre_estudiante }}</td>
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ proydep.carnet_estudiante.carnet_estudiante.carnet_estudiante.apellido_estudiante }}</td>
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ proydep.carnet_estudiante.carnet_estudiante.codigo_carrera.nombre_carrera }}</td>
                    </tr>
                {% endfor %}
            
            {% elif proyectos_departamento %}
            
                {% for proydep in proyectos_departamento %}
                    <tr class="etiqueta-tr">
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ proydep.carnet_estudiante.carnet_estudiante.codigo_carrera.departamento.nombreDepartamento }}</td>
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ proydep.codigo_proyecto.descripcion_proyecto }}</td>
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ proydep.carnet_estudiante.carnet_estudiante.carnet_estudiante }}</td>
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ proydep.carnet_estudiante.carnet_estudiante.carnet_estudiante.nombre_estudiante }}</td>
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ proydep.carnet_estudiante.carnet_estudiante.carnet_estudiante.apellido_estudiante }}</td>
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ proydep.carnet_estudiante.carnet_estudiante.codigo_carrera.nombre_carrera }}</td>
                    </tr>
                {% endfor %}
            
            {% endif %}     

    	</table>
    </div>
    </br></br>

{% endblock %}