{% extends 'base/base.html' %}
{%block title%}
Estudiantes por modalidad
{%endblock%}
{% block content %}

  <header>
    <div class="container">

        <h2 align="center" class="form-titulo" style ="margin-left: 5px;">Ejemplo de Consultas</h2>
        </br></br></br>
        
    </div>
  </header>

<div class="container">

    <!-- Boton Buscar Texto -->
    <div align="center" class="busqueda">
        <form method="POST" action="{% url 'sistemaGerencialAgro:buscar_modalidad' %}">
            {% csrf_token %} 
            <select name="modalidad">
                <option value="Presencial">Presencial</option>
                <option value="Virtual">Virtual</option>
            </select>
            <input class="btn-buscar btn-busqueda" type = "submit" value = "Buscar">
             <a  type="submit" class="btn btn-success" href="{% url 'sistemaGerencialAgro:export_csv' %}">Exportar CSV</a>
        </form>
        <a href="{% url 'sistemaGerencialAgro:buscar_modalidad' %}" target="__blank"><button type="submit" class="btn btn-busqueda">Generar PDF</button></a>
    </div>
    </br></br>

    <div>
        <table>
            <thead>
        	   <tr>
                    <th>Carnet</th>
            		<th>Nombre</th>
                    <th>Apellido</th>
            	    <th>Proyecto</th>
            	    <th>Fecha inicio</th>
        		</tr>
            </thead>

            {% if servicios%}
            {% for servicio in servicios %}
        		<tr class="etiqueta-tr">
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ servicio.carnet_estudiante.carnet_estudiante.carnet_estudiante}}</td>
            		<td class="th-borde width-th-xx" style = "text-align:center;">{{ servicio.carnet_estudiante.carnet_estudiante.carnet_estudiante.nombre_estudiante}}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ servicio.carnet_estudiante.carnet_estudiante.carnet_estudiante.apellido_estudiante }}</td>
            		<td class="th-borde width-th-xx" style = "text-align:center;">{{ servicio.codigo_proyecto.codigo_proyecto }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ servicio.carnet_estudiante.fecha_inicio }}</td>
        		</tr>
            {% endfor %}
            {% endif %}     

    	</table>
    </div>

</div>

    <div id = "popup"> 
  
</div>

{% endblock %}

{% block js %}

    <script>
        var modal;
        function abrir_modal(url, titulo)
        {
            modal = $('#popup').dialog({
                title :titulo,
                modal :true,
                width :500,
                resizable :false
            }).dialog('open').load(url)
        }
    </script>

{% endblock %}