{% extends 'base/base.html' %}
{%block title%}
Estudiantes por género
{%endblock%}
{% block content %}

  <header>
    <div class="container">

        <h2 align="center" class="form-titulo" style ="margin-left: 5px;">Estudiantes en Servicio Social por G&eacute;nero</h2>
        </br></br></br>
        
    </div>
  </header>

<div class="container">
    <div align="center" class="busqueda">
        
        <form method="POST" action="{% url 'sistemaGerencialAgro:buscar_genero' %}">
            {% csrf_token %} 
            <h3>Selecciona el genero a filtrar: </h3> </br>
            <input type="radio" name="sexo"  id = "sexo" value="F">Femenino
            <input type="radio" name="sexo"  id = "sexo" value="M">Masculino
            
            </br></br></br>
            
            <input class="btn-buscar btn-busqueda" type = "submit" value = "Buscar" id = "generoBuscar"></br></br>
        </form>
    
    </div>

     <div align="center" class="busqueda">
        <a href="{% url 'sistemaGerencialAgro:reporte_genero' %}" target="__blank"><input class="btn-buscar btn-busqueda" type = "submit" value = "Imprimir PDF" id = "">
        <a href="{% url 'sistemaGerencialAgro:export_csv' %}" target="__blank"></a><input class="btn-buscar btn-busqueda" type = "submit" value = "Exportar CSV" id = "">
    </div>

    </br></br>

    <div>
        <table>
            <thead>
        	   <tr>
            	    <th>Genero</th>
                    <th>Carnet</th>
            		<th>Nombre</th>
                    <th>Apellido</th>
            	    <th>Modalidad</th>
                    <th>Fecha de inicio</th>
        		</tr>
            </thead>

            {% if estudiantes %}
            {% for estudiante in estudiantes %}
        		<tr class="etiqueta-tr">
            		<td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.carnet_estudiante.carnet_estudiante.sexo_estudiante }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.carnet_estudiante }}</td>
            		<td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.carnet_estudiante.carnet_estudiante.nombre_estudiante}}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.carnet_estudiante.carnet_estudiante.apellido_estudiante }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.modalidad }}</td>
                     <td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.fecha_inicio }}</td>
        		</tr>
            {% endfor %}
            {% endif %}     

    	</table>
    </div>

</div>

<div id = "popup"> 
  
</div>

{% endblock %}

{% block js %}

    <script>
        var modal;
        function abrir_modal(url, titulo)
        {
            modal = $('#popup').dialog({
                title :titulo,
                modal :true,
                width :500,
                resizable :false
            }).dialog('open').load(url)
        }
    </script>

{% endblock %}