{% extends 'base/base.html' %}
{%block title%}
Solicitudes Aprobadas
{%endblock%}
{% block content %}

  <header>
    <div class="container">

        <h2 align="center" class="form-titulo" style ="margin-left: 5px;">Solicitudes aprobadas</h2>
        </br></br></br>
        
    </div>
  </header>

<div class="container">

    <!-- Boton Buscar Texto -->
    <div align="center" class="busqueda">
        <form method="POST" action="{% url 'sistemaGerencialAgro:filtrar_estado_solicitud' %}">
            {% csrf_token %} 
    
            <select name="estado" class="form-control col-4 col-sm-2 input-style" title="Selecciona el estardo por favor" required>
                <option selected value=""> Selecciona estado </option>
                <option value="Aceptado">Aceptado</option>
                <option value="Denegado">Denegado</option>
            </select>
        </br></br>
        <input class="btn-buscar btn-busqueda" type = "submit" value = "Buscar"></br></br>
    </form>

</div>

    {% if estado %}
        <div align="center" class="busqueda">
            <input class="btn-buscar btn-busqueda" type = "submit" value = "Imprimir PDF" id = "ImprimirPDF" onclick="window.location.href='{% url 'sistemaGerencialAgro:reporte_solicitud_aprobada' estado %}'">
            <input class="btn-buscar btn-busqueda" type = "submit" value = "Exportar CSV" id = "ExportarCSV" onclick="window.location.href='{% url 'sistemaGerencialAgro:exportar_solicitud_aprobada' estado %}'">
        </div>
    {% endif %}    
        
    
    </br></br>

    <div>
        <table>
            <thead>
        	   <tr>
                    <th>Carnet</th>
            		<th>Nombre</th>
                    <th>Apellido</th>
            	    <th>Estado</th>
            	    <th>Observaciones</th>
        		</tr>
            </thead>

    {% if estado_solicitud_filtro %}
        {% for est in estado_solicitud_filtro %}
        		<tr class="etiqueta-tr">
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ est.carnet_estudiante}}</td>
            		<td class="th-borde width-th-xx" style = "text-align:center;">{{ est.carnet_estudiante.carnet_estudiante.carnet_estudiante.nombre_estudiante}}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ est.carnet_estudiante.carnet_estudiante.carnet_estudiante.apellido_estudiante }}</td>
            		<td class="th-borde width-th-xx" style = "text-align:center;">{{ est.aceptado }}</td>
                    {% if not est.observaciones %}
                        <td class="th-borde width-th-xx" style = "text-align:center;">-</td>
                    {% else %}
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ est.observaciones }}</td>
                    {% endif %}
        		</tr>
        {% endfor %}
           

    {% elif estado_solicitud%}
        {% for est in estado_solicitud %}
        		<tr class="etiqueta-tr">
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ est.carnet_estudiante}}</td>
            		<td class="th-borde width-th-xx" style = "text-align:center;">{{ est.carnet_estudiante.carnet_estudiante.carnet_estudiante.nombre_estudiante}}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ est.carnet_estudiante.carnet_estudiante.carnet_estudiante.apellido_estudiante }}</td>
            		<td class="th-borde width-th-xx" style = "text-align:center;">{{ est.aceptado }}</td>
                    {% if not est.observaciones %}
                        <td class="th-borde width-th-xx" style = "text-align:center;">-</td>
                    {% else %}
                        <td class="th-borde width-th-xx" style = "text-align:center;">{{ est.observaciones }}</td>
                    {% endif %}
        		</tr>
        {% endfor %}
    {% endif %}     

    	</table>
    </div>

</div>

    <div id = "popup"> 
  
</div>

{% endblock %}

{% block js %}

    <script>
        var modal;
        function abrir_modal(url, titulo)
        {
            modal = $('#popup').dialog({
                title :titulo,
                modal :true,
                width :500,
                resizable :false
            }).dialog('open').load(url)
        }
    </script>

{% endblock %}