{% extends 'base/base.html' %}
{%block title%}
Estudiantes por periodo
{%endblock%}
{% block content %}

  <header>
    <div class="container">

        <h2 align="center" class="form-titulo" style ="margin-left: 5px;">Estudiantes en Servicio  Social a partir de un Periodo Determinado</h2>
        </br></br></br>
        
    </div>
  </header>

<div class="container">

    <!-- Boton Buscar Texto -->
    <div align="center" class="busqueda">
        <form method="POST" action="{% url 'sistemaGerencialAgro:filtrar_periodo_servsocial' %}">
            {% csrf_token %} 
            <input type="date" name="fechaInicio"  id = "fecha1" class = "input-style" placeholder="Porfavor Seleccione la Fecha de inicio." maxlength="7" required>
            <input type="date" name="fechaFin"  id = "fecha2" class = "input-style" placeholder="Porfavor Seleccione la Fecha de Fin." maxlength="7" required>
            </br></br>
            <input class="btn-buscar btn-busqueda" type = "submit" value = "Buscar" id = "fechaBuscar"></br></br>
        </form>
        
    </div>

    {% if fecha_inicio and fecha_fin %}
        <div align="center" class="busqueda">
            <input class="btn-buscar btn-busqueda" type = "submit" value = "Imprimir PDF" id = "ImprimirPDF" onclick="window.location.href='{% url 'sistemaGerencialAgro:reporte_periodo_servsocial' fecha_inicio fecha_fin %}'">
            <input class="btn-buscar btn-busqueda" type = "submit" value = "Exportar CSV" id = "ExportarCSV" onclick="window.location.href='{% url 'sistemaGerencialAgro:exportar_periodo_servsocial' fecha_inicio fecha_fin %}'">
           
        </div>
    {% endif %}    
        
    
    </br></br>


    <div>
        <table>
            <thead>
        	   <tr>
                    <th>Carnet</th>
            		<th>Nombre</th>
                    <th>Apellido</th>
            	    <th>Fecha de inicio</th>
            	    <th>Fecha de finalizacion</th>
        		</tr>
            </thead>

            {% if periodo_servicio_filtro %}
                {% for  periodo in periodo_servicio_filtro %}
                    {% if fecha_inicio <= periodo.fecha_inicio|date:"Y-m-d" and fecha_fin >= periodo.fecha_inicio|date:"Y-m-d" or fecha_inicio <= periodo.fecha_fin|date:"Y-m-d" and fecha_fin >= periodo.fecha_fin|date:"Y-m-d" %}
                        <tr class="etiqueta-tr">
                            <td class="th-borde width-th-xx" style = "text-align:center;">{{ periodo.carnet_estudiante}}</td>
                            <td class="th-borde width-th-xx" style = "text-align:center;">{{ periodo.carnet_estudiante.carnet_estudiante.nombre_estudiante}}</td>
                            <td class="th-borde width-th-xx" style = "text-align:center;">{{ periodo.carnet_estudiante.carnet_estudiante.apellido_estudiante }}</td>
                            <td class="th-borde width-th-xx" style = "text-align:center;">{{ periodo.fecha_inicio }}</td>
                            <td class="th-borde width-th-xx" style = "text-align:center;">{{ periodo.fecha_fin }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                

            {% elif consulta_periodo %}
                {% for periodo in consulta_periodo %}
                        <tr class="etiqueta-tr">
                            <td class="th-borde width-th-xx" style = "text-align:center;">{{ periodo.carnet_estudiante}}</td>
                            <td class="th-borde width-th-xx" style = "text-align:center;">{{ periodo.carnet_estudiante.carnet_estudiante.nombre_estudiante}}</td>
                            <td class="th-borde width-th-xx" style = "text-align:center;">{{ periodo.carnet_estudiante.carnet_estudiante.apellido_estudiante }}</td>
                            <td class="th-borde width-th-xx" style = "text-align:center;">{{ periodo.fecha_inicio }}</td>
                            <td class="th-borde width-th-xx" style = "text-align:center;">{{ periodo.fecha_fin }}</td>
                        </tr>
                {% endfor %}
            {% endif %}     

        </table>
    </div>
    </br></br>

{% endblock %}

