{% extends 'base/base.html' %}
{%block title%}
Estudiantes por porcentaje de carrera aprobado
{%endblock%}
{% block content %}

  <header>
    <div class="container">

        <h2 align="center" class="form-titulo" style ="margin-left: 5px;">Porcentaje aprobado</h2>
        </br></br></br>
        
    </div>
  </header>

<div class="container">

    <!-- Boton Buscar Texto -->
    <div align="center" class="busqueda">
        <form method="POST" action="{% url 'sistemaGerencialAgro:buscar_criterio' %}">
            {% csrf_token %} 
            <input type="radio" name="criterio" value="carrera">Por porcentaje de carrera aprobado
            <input type="radio" name="criterio" value="genero">Por genéro
            <input type="radio" name="criterio" value="modalidad">Por modalidad

            <button type="submit" class="btn btn-busqueda">Buscar</button>
        </form>
        
    </div>
    </br></br>
    </br></br>
    <div>
        <table>
            <thead>
        	   <tr>
                    <th>Carnet</th>
            		<th>Nombre</th>
                    <th>Apellido</th>
        		</tr>
            </thead>
            {% if estudiantes %}
            {% for estudiante in estudiantes %}
        		<tr class="etiqueta-tr">
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.carnet_estudiante }}</td>
            		<td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.nombre_estudiante}}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ estudiante.apellido_estudiante}}</td>
        		</tr>
            {% endfor %}
            {% endif %}     

    	</table>
    </div>

</div>

    <div id = "popup"> 
  
</div>

{% endblock %}

{% block js %}

    <script>
        var modal;
        function abrir_modal(url, titulo)
        {
            modal = $('#popup').dialog({
                title :titulo,
                modal :true,
                width :500,
                resizable :false
            }).dialog('open').load(url)
        }
    </script>

{% endblock %}